// out: ../uploadImg.css, sourcemap: true, compress: true

/*   上传图片   */
.up-wrap {
  padding: .453rem 0 .2rem; }
  .up-wrap label {
    position: relative;
    float: left;
    width: 1.787rem;
    height: 1.787rem;
    border-radius: .08rem;
    margin-right: .32rem;
    margin-bottom: .32rem;
    border: 1px solid #fff;
    background: url(../img/release_add_img_bg.png) center center no-repeat;
    background-size: 1.56rem 1.56rem; }
    .up-wrap label input {
      display: none; }
    .up-wrap label img {
      display: none; }
  .up-wrap .up-succeed {
    border: 1px solid #b0b2b4;
    background: none; }
    .up-wrap .up-succeed img {
      display: block;
      width: 100%;
      height: 100%; }
    .up-wrap .up-succeed .up-del {
      display: block; }

.up-del {
  display: none;
  position: absolute;
  top: -.587rem;
  right: -.587rem;
  width: 1.173rem;
  height: 1.173rem;
  background: url(../img/release_del_img_icon.png) left bottom no-repeat;
  background-size: .587rem .587rem; }

/*   上传图片结束   */
